@media (max-width:1000px){
    .nav_bar_top, .coluna_top_left{
        display: none;
    }

    .mobile{
        background-image: var(--gradiente-color) !important;
    }

    .navbar-brand{
        color: var(--text-primary) !important;
        font-size: 2.1rem !important;
    }

    .navbar-toggler{
        border-color: var(--text-primary) !important;
    }

    .btn_menu{
        color: var(--text-primary) !important;
        text-align: center;
    }
    .nav-link{
        color: var(--text-primary) !important;
        font-size: 1rem !important; 
    }


    .coluna_top_right{
        padding: 12px;
        margin-bottom: 100px;
    }

    .coluna_top_right > h1{
        font-size: 3rem;
    }

    .coluna_top_right > p{
        font-size: 1rem;
    }

    .info_section > .coluna_01 {
        padding: 150px;
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info_section > .coluna_01 > h1{
        text-align: center;
        white-space: nowrap;
    }

    .info_section > .coluna_01 > p{
        width: 100vw;
        text-align: center;
        padding: 0px 20px 0px 20px;
    }

    .coluna_02{
        display: none !important;
    }

    .btn_info{
        height: 35px;
        padding: 10px;
        text-align: center;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .form_contact{
        margin: 0;
    }

    .btn_submit_form{
        width: 100% !important;
    }

    .cards_price{
        margin-top: 20px !important; 
    }
}


@media (min-height: 1000px) and (max-height:1800px){
    .navbar-brand{
        color: var(--text-primary) !important;
        font-size: 3rem !important;
    }

    .coluna_top_right > h1{
        font-size: 3rem;
    }

    .coluna_top_right > p{
        font-size: 2.4rem;
    }

    .nav-link{
        color: var(--text-primary) !important;
        font-size: 1.7rem !important; 
    }

    .info_section > .coluna_01 > h1{
        font-size: 2.5rem;
    }

    .info_section > .coluna_01 > p{
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
    }
}

@media (min-width:1000px){
    .nav_bar_top_mobile{
        display: none;
    }
}