.mobile-navbar{
    background-image: var(--gradiente-color) !important;
}

.mobile-navbar > div > a{
    color: var(--text-primary) !important;
    font-size: 1.6rem;
}

.nav-link{
    color: var(--text-primary) !important;
    font-size: 1rem !important; 
}
.navbar-toggler{
    border-color: var(--text-primary) !important;
}

.btn_menu{
    color: var(--text-primary) !important;
    text-align: center;
}