@media (max-width: 1000px) {
  body{
    background-color: #F3F3F3F3;
  }
.notification_button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

  .content_page > .form-infos > h2{
    text-align: center;
}
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--text-primary);
    width: 100%;
    height: 100%;

    margin: 10px;

    border-radius: 22px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .content_page {
    width: 100%;
  }
  .container_page {
    width: 100%;
    height: 100%;
  }
  .nav-bar-left-desktop {
    display: none;
  }

  .card-saldo {
    width: 100%;
    height: 150px;

    margin: 20px;

    background-color: var(--text-primary);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 18px;
  }

  .content_page > .form-infos {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .content_page > .form-infos > form > .row-01 > input {
    margin: 10px;
  }
  .content_page > .form-infos > form > .row-02 > input {
    margin: 10px;
  }
  .content_page > .form-infos > form > .row-03 > input {
    margin: 10px;
  }

  .content_page > .form-infos > form > .row-03 > .field_pass{
     width: 100%;
    height: 80px;
    margin-top: 4px;
    margin-left: -35px;

  }

  .content_page > .form-infos > form > .row-03 > .field_pass > input{
    margin: 10px;
    width: 300px;
}

  .content_page > .form-infos > form > .row-01 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .content_page > .form-infos > form > .row-02 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -98px;
  }
  .content_page > .form-infos > form > .row-03 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -64px;
  }


  #togglePassword01{
    margin-left: -55px;
    cursor: pointer;
}

.hidden-text{
  visibility: visible;
}

.content_page > .form-infos > h2{
  display: none;
}

.col{
  width: 100% !important;
}

.notification_button{
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.notification_button > button{
  height: 60px;
  width: 60px;
}

}

@media (min-width: 1000px) {
  .nav_bar_top_mobile {
    display: none;
  }

}
