.container_page {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: var(--input-background);
}

.nav-bar-left-desktop {
  height: 100%;
  width: 20%;

  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.image_user_icon {
  background-color: var(--text-primary);
  width: 80px;
  height: 80px;
  border-radius: 12px;
  margin: 10px;
}

.image_user_icon > img{
  height: 78px;
  width: 78px;
}

.text_name_user > span {
  font-size: 18px;
  color: var(--text-primary);
  text-decoration: none;
  margin: 10px;
}

.title_page_menu {
  margin: 10px;
  padding: 4px;
}

.title_page_menu > h1 {
  font-size: 28px;
  color: var(--text-primary);
}

.link_menu {
  padding: 14px;
  font-size: 20px;
  color: var(--text-primary);
  text-decoration: none;

  transition: 0.2s;
}

.link_menu:hover{
  filter: brightness(70%);
  color: var(--text-primary);

  border-radius: 18px;
}

.content_page {
  width: 80%;
}


.card-saldo {
  width: 300px;
  height: 150px;

  margin: 20px;

  background-color: var(--text-primary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 18px;
}

.icon_card_saldo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  

  padding: 10px;
}

.icon_card_saldo > .icon-01,
h2 {
  font-size: 28px;

  padding: 12px;
}

.icon_card_saldo > h2 {
  margin-top: 8px;
}

.Saldo_total {
  font-size: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10px 10px 0px;
  align-items: center;

  padding-left: 20px;
}

.Saldo_total > a > button{

  width: 60px;
  height: 60px;
  margin: 0px 10px 10px 0px;
  margin-bottom:10px ;
  border-radius: 17px;
  border: none;
  text-decoration: none;

  background-color: #e74c3c;
  color: var(--text-primary);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  transition: 0.2s;
}

.btn_row_chart {
  width: 100%;
  height: 90px;

  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn_row_chart > .btn_left{
    margin-left: 20px;

}

.row-cotation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 20px;
}





.btn_row_chart > .btn_left > a > .btn_receita{
    width: 80px;
    height: 80px;
    margin-right: 30px;
    border-radius: 17px;
    border: none;
    text-decoration: none;

    background-color: #2ecc71;
    color: var(--text-primary);

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    transition: 0.2s;
}

.btn_row_chart .btn_left > a > .btn_despesa{
    width: 80px;
    height: 80px;
    margin-right: 30px;
    border-radius: 17px;
    border: none;
    text-decoration: none;

    background-color: #e74c3c;
    color: var(--text-primary);

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    transition: 0.2s;
}

.btn_row_chart > .btn_right > a > .btn_grafico{
    width: 80px;
    height: 80px;
    margin-right: 30px;
    border-radius: 17px;
    border: none;

    background-color: var(--primary-color);
    color: var(--text-primary);

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    transition: 0.2s;
}




 button:hover{
    filter: brightness(80%);
}



.fab{
  position: fixed;
  bottom:30px;
  right:30px;
}

.fab button{
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
  font-size: 24px;
  color: white;
    
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  transition: .2s ease-out;
}


.fab button.main{
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  right: 0;
  bottom: 0;
  z-index: 20;
}



.fab ul{
  position:absolute;
  bottom: 0;
  right: 0;
  padding:0;
  margin:0;
  list-style:none;
  z-index:10;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 55px;
  
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  transition: .2s ease-out;
}

.fab ul li{
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: -10%;
  opacity: 0;
  
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  transition: .3s ease-out;
}



.fab.show button.main,
.fab.show button.main{
  outline: none;
  background-color: var(--secondary-color);
  box-shadow: 0 3px 8px rgba(0,0,0,.5);
 }
 


.fab.show button.main + ul,
.fab.show button.main + ul{
  bottom: 70px;
}

.fab.show button.main + ul li,
.fab.show button.main + ul li{
  margin-bottom: 10px;
  opacity: 1;
}

.fab.show button.main + ul li:hover label,
.fab.show button.main + ul li:hover label{
  opacity: 1;
}

.icon-menu-plus{
  transition: 0.2s;
}

.notification_button{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  margin-top: 20px;
}

.notification_button > button{
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: #FFFF;
}

.col_lancamentos{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Row_lancamentos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  margin: 20px;
}