/* Nav Bar Styles */
.nav_bar_top {
  width: 100%;
  height: 90px;

  background-image: var(--gradiente-color);
}

.row_nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 88px;
}

.row_nav_bar > .left_logo {
  padding-top: 12px;
}

.row_nav_bar > .left_logo > a {
  text-decoration: none;
  color: #ffff;
  font-family: "Poppins", sans-serif;
}

.row_nav_bar > .right_menu > a {
  text-decoration: none;
  color: #ffff;
  font-family: "Poppins", sans-serif;

  padding: 25px;

  transition: 0.2s;
}

.row_nav_bar > .right_menu > a:hover {
  filter: brightness(70%);
  border-bottom: 3px solid var(--text-primary);
}

/*------------------------------------*/

/* Estilos Sessão de Apresentação */
.cover_background {
  width: 100%;
  height: 100vh;

  background-color: var(--primary-color);
  color: var(--text-primary);

  border-bottom: 4px solid black;

  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.btn_discovery {
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  transition: 0.2s;
}

.btn_discovery:hover {
  filter: brightness(70%);
}

.coluna_top_left {
  height: 50%;
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coluna_top_left > img {
  width: 100%;
  height: 100%;
}

.coluna_top_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*----------------------------------*/

/* Estilos - Sessão de Informações */

.btn_info {
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 22px;
  background-color: var(--primary-color);
  color: var(--text-primary);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  transition: 0.2s;
}

.btn_info:hover {
  filter: brightness(70%);
}

.info_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info_section > .coluna_01 {
  padding: 150px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info_section > .coluna_02 {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info_section > .coluna_02 > img {
  width: 70%;
  height: 100%;

  margin-right: 80px;
}




/*------------------------------------*/
/* Cards */
.cards_price {
  margin-top: 70px;
  padding: 20px;
}

.card{
    border: 1px solid  var(--primary-color) !important;
}

.card-header{
    border-bottom: 1px solid  var(--primary-color) !important;
}

.card_02{
    background-color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.card_02_container{
    border: 1px solid var(--primary-color) !important;
}

.btn_cards{
    background-color: var(--button_color) !important;
    border: none !important;
    color: var(--text-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn_cards:hover{
    filter: brightness(80%);
}







/*------------------------------------*/
/* Form de Contato */

.form_contact{
    margin: 100px;
}

.form-control{
  height: 45px;
    border:none !important;
    background-color: var(--input-background) !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    border-radius: 22px !important;
}

.message_area{
   background-color: var(--input-background) !important;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
   border-radius: 22px !important;
    min-height: 200px !important;
    max-height: 200px !important;
}

.btn_submit_form {
  width: 200px !important;
  height: 50px !important;

  border: none !important;
  border-radius: 22px !important;
  background-color: var(--primary-color) !important;
  color: var(--text-primary) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  transition: 0.2s;
}

.btn_submit_form:hover{
    filter: brightness(80%)!important;
}







/*------------------------------------*/
/* Footer */

.footer_bar {
  height: 80px;
  width: 100%;

  background-image: var(--gradiente-color);
  color: var(--text-primary);

  left: 0;
  bottom: 0;
}
