/* primary color */
.nav-bar-left-desktop.darkmode,
.container-content-grid-transactions.darkmode
{
    background-color: #1F1D36 !important;
}

.row-grid.darkmode>tr
{
  background-color: #1F1D36 !important;
}

/* secondary items colors */
.content_page.darkmode, 
.select_image_pop_up.darkmode,
.main_container.darkmode,
.content-page-mobile.darkmode,
.container-content.darkmode,
.container-content-post.darkmode
{
  background-color: #3F3351 !important;
}

@media (max-width:1000px) {
  .container-content.darkmode{
    height: auto;
    padding: 10px;
  }
}

@media (min-width:1000px) {
  .container-content.darkmode{
    height: 100vh;
  }
}

.title_page.darkmode,
.text-dark-mode-label.darkmode,
.label_btn_home.darkmode,
.title_modal_avatar.darkmode,
.name.darkmode,
.email.darkmode,
.text.darkmode,
.message.darkmode,
.row-grid.darkmode>tr,
.container-content-grid-transactions.darkmode 
.currency-value-display.darkmode,
.text-container.darkmode > strong,
.container-content-post.darkmode,
.container-content-post.darkmode > .content-post >.title-post-view > h1 ,
.container-content-post.darkmode > .content-post > .intro-description
{
  color: #FFFF !important;
}

.row-grid.darkmode>tr:hover{
  color: rgb(240, 240, 240) !important;
}