.container_page {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: var(--input-background);
}

.nav-bar-left-desktop {
  height: 100%;
  width: 20%;

  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.image_user_icon {
  background-color: var(--text-primary);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: 10px;
}

.image_user_icon > img {
  height: 70px;
  width: 70px;
}

.text_name_user > span {
  font-size: 18px;
  color: var(--text-primary);
  text-decoration: none;
  margin: 10px;
}

.title_page_menu {
  margin: 10px;
  padding: 4px;
}

.title_page_menu > h1 {
  font-size: 28px;
  color: var(--text-primary);
}

.link_menu {
  padding: 14px;
  font-size: 20px;
  color: var(--text-primary);
  text-decoration: none;

  transition: 0.2s;
}

.link_menu:hover {
  filter: brightness(70%);
  color: var(--text-primary);

  border-radius: 18px;
}

.content_page {
  width: 80%;
}

/*estilos da pagina*/
.row_button_filter {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row_button_filter > h1{
  margin-left: 17px;
}

.row_button_filter > button {
  margin: 30px;
  border: none;
  background: var(--primary-color);
  color: var(--text-primary);
  width: 50px;
  height: 50px;
  border-radius: 14px;

  transition: 0.2s;
}

.row_button_filter > button:hover {
  filter: brightness(80%);
}

.popup_filter {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.popup_actions{
  width: 100%;
  height: 100vh;
  position: absolute;
}

.row_content {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column_content {
  width: 400px;
  height: 500px;

  border-radius: 20px;

  background-color: #f3f3f3;
  z-index: 999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.col_button_popup_close {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  margin: 17px;

  z-index: 9999;
}

.close_pop_up {
  margin-top: 80px;
  margin-left: -180px;

  border: none;
  height: 40px;
  width: 40px;
  border-radius: 13px;
  border: none;

  transition: 0.2s;

  background-color: #35383a;

  color: var(--text-primary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.close_pop_up:hover {
  filter: brightness(50%);
}

.row_field_00 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 20px;
}

.col_dates {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.lb_dates{
    margin: 20px;
}

.title_popup {
  text-align: center;
  width: 100%;
}
.row_btn_submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 20px;
}

.row_btn_submit > button{
    margin: 30px;
    border: none;
    background: var(--primary-color);
    color: var(--text-primary);
    width: 80%;
    height: 50px;
    border-radius: 14px;
  
    transition: 0.2s;
}

.row_btn_submit > button:hover{
    filter: brightness(80%);
}

.date_input{
    width: 172px;
    border: none;
    border-radius: 18px;
    padding: 4px;
    height: 42px;

    cursor: pointer;
}

.date_input:focus{
    outline: 0;
}

.sel_tip{
    width: 182px;
    border: none;
    border-radius: 18px;
    padding: 4px;
    height: 42px;  

    cursor: pointer;
}


.sel_tip:focus{
    outline: 0;
}

.hidden{
    display: none;
}

.label_for_date{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}